body {
  background-color: #441E13;
  color: white;
}



.logo {
  width: 200px;
  font-size: 2.5rem;
  font-weight: bold;
  float: left;
}

.slogan {
  margin-top: 19px;
  width: 380px;
  float:left;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #A37B71;
}

.logocontainer {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.nav {
  width: 920px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  padding-top: 18px;
}

.nav li {
  display: block;
  float: left;
  font-family: sans-serif;
  padding: 6px 20px;
  border-right: 1px solid #D4B364;

}

.nav li:last-child {
  border-right: none;
}

.box1 {
  max-width: 940px;
  height: 212px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(135, 169, 132);
}

.box2 {
  width: 196px;
  height: 614px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(150, 175, 172);
  float: left;
}

ul {
    display: block;
    font-family: sans-serif;
    font-size: 0.9rem;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid #B6C6C6;
}

ul:first-child {
  padding-top: 20px;
}

.box3 {
  width: 744px;
  height: 614px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(219, 216, 197);
  float: left;

}

.text1 {
  font-family: sans-serif;
  font-size: 2rem;

}

h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #556B78;
  padding-left: 50px;
  padding-top: 20px;

}

p {
  padding-left: 50px;
  padding-right: 60px;
  color: #45423B;
  font-family: sans-serif; 
}
